.web_nav {
    height: 64px;
    padding: 0 5%;
    position: relative;
    z-index: 999;
    display: flex;
    background-color: var(--main-bg-color);
    border-bottom: 1px solid #e4e4e4;
}

.index_url {
    display: flex;
    justify-content: center;
}
.image_icon {
    width: 32px;
    height: 64px;
    display: inline-block;
    cursor: pointer;
}
.tara_icon {
    width: 100%;
    height: auto;
    vertical-align: middle;
}
.image_text {
    vertical-align: middle;
    margin-left: 10px;
    flex: 1;
}
.image_text img {
    width: 70%;
    height: 64px;
    max-width: 170px;
    cursor: pointer;

}
.left {
    display: inline-block;
    height: 100%;
    z-index: 999;
    position: relative;
    flex: 1 1 0;
}
.vertical_center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.right {
    /* display: inline-block; */
    float: right;
    height: 100%;
    position: relative;
    z-index: 999;
}
.item_right:last-child {
    margin-right:0;
}
.item_right {
    margin-right: 20px;
    color:white;
    cursor: pointer;
    border: 1px solid var(--fg-color);
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
}
.middle {
    line-height: 64px;
}
.dropdown {
    margin-top: 16px;
    width: fit-content;
    transition: all 0.5s ease-in;
    position: relative;
}

.dd_cover {
    justify-content: flex-end;
    display: flex;
    cursor: pointer;
}
.dd_cover_name {
    line-height: 32px;
    margin: 0 10px; 
    position: relative;
}

.dd_cover img {
    border-radius: 50%;
    object-fit: cover;
}
.dd_content {
    opacity: 0;
    display: none;
    position: absolute;
    width: max-content;
    right: 0;
    background-color: var(--main-bg-color);
    padding: 5px 0;
    margin-top: 10px;   
    border: 1px solid #00818F;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.65); 
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.65);
}
/* .dd_content::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #00818F;
    top: -15px;
    right: 10px;
}
.dd_content::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 14px solid #003C52;
    top: -13px;
    right: 11px;
} */
.divider {
    width: 100%;
    height: 1px;
    margin: 10px 0;
    border-bottom: 1px solid #00202C;
}
.dd_item:first-child:hover {
    background-color: initial;
}
.dd_item {
    padding: 5px 10px;
    word-break: break-all;
    cursor: pointer;
    color: var(--fg-color);
}
.dd_item a {
    color: var(--fg-color);
}
.dd_item:hover {
    background-color: var(--accent-color);
}
.dd_info {
    display: none;
}
@media (max-width: 450px) {
    .dd_content {
        display: block;
        width: 85%;
        position: fixed;
        right: -85%;
        top: 0;
        bottom: 0;
        margin: 0;
        border: none;
        transition: all 0.4s ease;
    }
    .dd_info {
        display: flex;
        align-items: center;
        padding: 30px 30px;
    }
    .dd_title {
        font-size: 1.2em;
        font-weight: bold;
    }
    .dd_close {
        width: 32px;
        margin-left: auto;
        margin-right: 10px;
        height: auto;
        cursor: pointer;
    }
    .dd_close:hover {
        filter: brightness(0.9);
    }
    .dd_close:active {
        filter: brightness(0.8);
    }
    .dd_item {
        margin-top: 10px;
        padding-left: 30px;
    }
}

@media (max-width: 345px) {
    .dd_cover_name {
        display: none;
    }
}