.wrapper {
    width: 100%;
    height: 26px;
    display: flex;
    align-items: center;
    margin: 0 10px;
    position: relative;
}
.bg {
    background-color: white;
    width: 100%;
    height: 7px;
    border-radius: 5px;
}
.progress {
    background-color: #008796;
    height: 7px;
    width: 50%;
    border-radius: 5px;
    position: absolute;
}
.progress_button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border:2px solid #00C9DE;
    background-color: #00202C;
    z-index: 99999;
    position: absolute;
    top: 51%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: filter 0.2s ease;
}
.progress_button:hover {
    filter: brightness(0.8)
}
.buffer {
    background-color: grey;
    height: 7px;
    border-radius: 5px;
    position: absolute;
}
.seconds_info {
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
    position: absolute;
    bottom: 40px;
    width: 100px;
}