:root {
  --main-bg-color: #ffffff;
  --accent-color: #77bec9;
  --accent-color-light: #00c9de;
  --accent-color-yellow: #fdd319;
  --fg-color : #0E1C1F;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--main-bg-color);
}
body {
  transition: opacity 0.2s;
}
#global-mask {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  visibility: hidden;
  transition: all 0.4s all;
}
.main {
  height: max-content;
}
a {
  color:var(--fg-color);
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  filter:brightness(1.1)
}
.login, .login a {
  transition: all 0.2s ease;
}
fieldset {
  width: 100%;
  border-radius: 5px;
  max-width: 405px;
  margin: 0 auto;
  text-align: center;
}
* {
  box-sizing: border-box;
}
textarea, h1, h2, h3, h4, p, span, input, input::placeholder, label, legend {
  color: var(--fg-color);
}
textarea {
  padding-top: 3em;
  padding-left: 20px;
  font-family: 'Dosis', sans-serif;
  font-size: 0.9em;
}
/* GLOBALS */
.tara-error {
  background-color: #bb6a61;
  height: 0;
  opacity: 0;
  transition: all 0.4s ease;
  margin-bottom: 0;
  border-radius: 4px;
  border: 1px solid #d12b19;
  color: #700b00;
  padding: 0 1em;
  font-size: 0.9em;
}
.tara-error-show {
  height: fit-content;
  padding: 1em;
  opacity: 1;
  margin-bottom: 20px;
}
.tara-success-show {
  height: fit-content;
  padding: 1em;
  opacity: 1;
  margin-bottom: 20px;
  border: 1px solid #00cc7a;
  color: #008e55;
  background-color: #4cdba1;
}
.tara-button {
  color: var(--fg-color);
  border-radius: 50px;
  border: 1px solid #0E1C1F;
  background-color: transparent;
  min-width: fit-content;
  transition: all 0.3s ease;
  border-radius: 10px;
}
.tara-button:hover, .login:hover {
  cursor: pointer;
  background-color: var(--accent-color-light);
}
.tara-button:active, .login:active {
  filter: brightness(1.1);
}
.tara-input, textarea {
  border-radius: 5px;
  background-color: var(--main-bg-color);
  border: 1px solid var(--fg-color) !important;
}
.tara-input:active, .tara-input:focus {
  border: black;
}
.alternative-auth {
  margin-top: 5px;
  font-size: initial;
  text-align: center;
}
.alternative-auth a {
  text-decoration: underline;
  white-space: nowrap;
}
.mask {
  visibility: visible !important;
}
.mask::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}
.decoration {
  border: none;
  max-width: 405px;
  width: available;
  width: -moz-available;
  height: 300px;
}
.arrow::after {
  content: "";
  display: block;
  position: absolute;
  right: -15px;
  top: 60%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #fdfefe;
  filter: brightness(0.8);
  transition: all 0.5s ease;
}
.rotation::after {
  transform: rotate(180deg) translateY(5px);
}
.welcome-page{
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  height: 100vh;
}
.welcome-page-wrapper {
  padding: 0 10%;
}
.welcome-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.shape {
  position: absolute;
  z-index: -1;
}
.shape-top-left {
  top: -10%;
  left: -150px;
  width: 375px;
}
.shape-right {
  right: -150px ;
  width: 400px;
}
.shape-last {
  height: 500px;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.welcome-navigation-text {
  padding-top: 5em;
  text-align: center;
}
.welcome-navigation-img {
  display: inline-block;
}
.tara-movies-wrapper {
  margin: 20px auto;
}
.tara-movies-wrapper, .tara-movies-wrapper img {
  width: 100%;
}

.welcome-navigation-text span {
  display: block;
  font-family: 'Inter', sans-serif;

}
.welcome-navigation-text h3 {
  font-size: 2.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin: 0;
  display: inline-block;
}
.welcome-page-wrapper {
  height: 100vh;
  z-index: 9;
  position: relative;
}
.welcome-page-content {
  width: 100%;
  padding: 0 10%;
}
.welcome-page-text {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  max-width: fit-content;
}
.welcome-title {
  font-size: 2.5em;
  display: inline-block;
  margin-bottom: 5px; 

}
.welcome-subtitle {
  display: inline-block;
}
.welcome-page-signup {
  display: block;
  font-size: 2em;
  text-align: center;
  max-width: 360px;
  position: absolute;
  left: 50%;  
  top: 50%;
  transform: translate(-50%, -50%);
}

.welcome-page-label {
  display: inline-block;
}
.welcome-page-button {
  display: inline-block;
  margin-top: 20px;

  padding: 20px 40px;
  width: 100%;
}
.section-divider {
  /* background-color: black; */
  height: 20px;
}
.padding {
  padding: 0 5%;
  position: relative;
}
.padding-10 {
  padding: 0 10%;
  position: relative;
}
.no-padding {
  padding: 0;
}
.ul-header {
  width: fit-content;
  margin-left: 5%;
}
.medium {
  width: 15em;
}
.ul-label {
  padding-bottom: 5px;
  font-size: 0.9em;
  font-weight: lighter;
  margin: 0;
}
.ul-label:first-of-type {
  margin-top: 10px;
}
.scroll-movies {
  margin-top: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}
.background-movie {
  background-color: rgb(31, 31, 31);
  height: 100vh;
  overflow-y: hidden;
}

.video-player {
  width: 100% !important;
  height: 100vh !important;
}
.container {
  height: calc(100vh - 64px);
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
}
.form-container {
  max-width: 500px;
  padding: 60px 68px 40px;
  position: relative;
  z-index: 2;
}
.center {
  margin: 0 auto;
}
.input-wrapper {
  padding-bottom: 16px;
}
.input-wrapper-relative {
  position: relative;
}
.input-wrapper input {
  display: block;
  width: 100%;
  padding: 16px 20px 0;
  height: 50px;
  line-height: 50px;
  border-radius: 4px !important;
}

.place-label {
  position: absolute;
  top: 15px;
  left: 20px;
  transition: all 0.1s ease;
}
.set {
  top: 5px !important;
  font-size: 11px;
}
.show {
  display: block !important;
  opacity: 1 !important;
  right: 0 !important;
}
.submit-form-upload-movie {
  position: absolute;
  top: 275px;
  right: 0;
  width: 405px;
}
.submit-form {
  width: 100%;
  font-size: 1.25em;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 998px) {
  .submit-form-upload-movie {
    position: relative;
    top: 0;
    width: auto;
  }
  
}
/** MOVIE BLOCK **/
.movies {
  white-space: nowrap;
  scrollbar-width: none;
  overflow: hidden;
  /* scroll-padding: 50px; */
  position: relative;
}
.movies:last-of-type {
  margin-bottom: 0;
}
.movie-item {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  vertical-align: top;
  border-radius: 0 0 5px 5px;
  margin-right: 3px;
  width: 290px;
  height: 170px;
}
.movie-item:first-of-type {
  margin-left: 5%;
}
.movie-item-thumbnail {
  height: 170px;
  position: relative;
}
.movie-item-thumbnail:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
}
.movie-item-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movie-item-info {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: calc(100% - 15px);
}
.movie-item-title {
  color: var(--main-bg-color);
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  width: calc(100% - 15px);
  word-wrap: break-word;
  white-space: normal;
}
.mobile-scroll {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 16px;
  right: 0;
  width: 50px;
  height: 170px;
  background: #00000020;
  z-index: 99;
}  
.backwards {
  left: 0;
  right: unset;
  transform: rotate(180deg);
  z-index: 10;
}
.mobile-scroll img {
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}
/** MOVIE PREVIEW **/
.relative-wrapper {
  position: relative;
}
.preview-wrapper {
  z-index: 1;
  position: absolute;
  bottom: 50px;
  width: 100%;

}
.title-actions-wrapper {
  display: flex;
  align-items: center;
}
#movie-title{
  color: var(--main-bg-color);
  text-transform: uppercase;
  font-size: 2.5em;
}
.movie-resumen {
  font-size: 0.9em;
}

.movie-data-list-item:first-child , .genres {
  display: block !important;
  margin-top: 0;
}
.genres {
  opacity: 0.7;
}
.movie-data-list-item {
  margin: 10px 0;
  color: var(--main-bg-color);
  font-size: 0.9em;
  display: inline-block;
  margin-bottom: 5px;
}
.movie-data-list-value, .movie-data-list-value span {
  color: var(--main-bg-color);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease;
}
.movie-data-list-value span:hover {
  color: #00B8CC;
}
.movie-actions-wrapper {
  width: 100%;
  align-items: center;
  flex-basis: -moz-fit-content;
  flex-basis: fit-content;
  flex-basis: -webkit-fit-content;
}
.reproducir-wrapper {
  border:none;
  height: 70px;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 2px;
  position: absolute;
  z-index: 9;
  left: 50%;
  transform: translate(-50%);
  top: calc(50% - 64px);
}
.reproducir-content {
  height: 70px;
}
.reproducir-img {
  margin-left: 20px;
  height: 70px;
  width: 70px;
  display: inline-block;
  border: 1px solid var(--main-bg-color);
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease;
}
.reproducir-img:hover {
  background-color: var(--accent-color-yellow);
  border-color: transparent;
}
.reproducir-img img {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
}
.reproducir-text {
  margin-left: 10px;
  display: inline;
  vertical-align: middle;
  font-size: 0.7em;
}
.secondary-actions {
  justify-content: center;
  display: flex;
}
.action-movie-wrapper {
  height: max-content;
  margin: 0 5px;
  display: inline-block;
}
.action-movie-button {
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin: 10px auto;
  transition: all 0.1s ease;
}
.rotate {
  transform: rotate(225deg);
}
.action-movie-button:hover {
cursor: pointer;
filter: brightness(1.1);
}
.action-movie-button:active {
filter:brightness(1.2)
}
.action-movie-span {
  display: none;

  color: var(--main-bg-color);
  width: max-content;
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
}

.preview-image-wrapper {
  overflow: auto;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.preview-image {
  display: block;
  position: relative;
}

.preview-image img {
  position: relative;
  height: 90vh;
  width: 100%;
  object-fit: cover;
}

.movie-description {
  padding: 15px 5% 0 5%;
}
.movie-description-title {
  font-weight: bold;
  color: var(--fg-color);
  opacity: 0.9;
  text-transform: uppercase;
}
.data-description {
  opacity: 0.9;
}
@media (min-width: 500px) {
  .preview-image {
    position: relative;
  }
  .reproducir-wrapper {
    width: fit-content;
    padding-right: 30px;
  }
  .action-movie-wrapper {
    position: relative;
    margin-left: 1em;
  }
  .data-description, #movie-title {
    word-break: break-word;
    max-width: 70%;
  }
}
@media (min-width: 1500px) {
  .preview-main {
    padding: 0;
  }
  
}
/** CONTROLS VIDEO PLAYER **/
#go-back {
  position: fixed;
  left: 40px;
  top: 40px;
  border:none;
  background: none;
  color: white;
  cursor: pointer;
  height: 50px;
  width: 50px;
  z-index: 5;
}
#go-back::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: url("/images/icons/arrow-back.svg");
  filter:invert()
}
#mask {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.4;
  background: black;
  transition: opacity 0.3s ease;
}
.over-video-controls {
  user-select: none;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 90px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.over-video-controls > * {
  cursor: pointer;
  background: none;
  user-select: none;
  transition: all 0.2s ease;
  opacity: 0.8;
}
.over-video-controls button:hover {
  opacity: 0.8;
}
#pause-button {
  margin: 0 20px;
}
#rewind::after, #forward::after {
  content: "";
  display: block;
  background-repeat: no-repeat !important;
  background-size: contain;
  background-position: center !important;
}
#rewind::after, #forward::after {
  width: 70px;
  height: 60px;
  background: url("/images/icons/play-back-outline.svg");  
  background-size: 50px 50px;
}
#forward, #rewind {
  padding: 0;
  border:none;
}
#forward::after {
  transform: rotate(180deg);
}
.disable {
  display: none;
}
.controls {
  position: absolute;
  bottom: 20px;
  width:100%;
  display: flex;
  align-items: flex-end;
  padding: 0 15px;
  cursor: pointer;
}
.controls > * {
  height: max-content;
}
.opacable {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.opacable:hover {
  opacity: 1;
}

.play-pause, .volume-icon, .fullscreen-icon {
  width: 26px;
  height: 26px;
  transition: all 0.2s ease;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  border:none;
}
.play-pause:hover, .volume-icon:hover, .fullscreen-icon:hover {
  filter:brightness(0.7)
}
.pause-bg-button {
  background: url("/images/icons/pause-white.svg")
}
.play-bg-button {
  background: url("/images/icons/play-white.svg");
}
.volume-mute {
  background: url("/images/icons/volume-mute-white.svg") !important;
}
.volume-off {
  background: url("/images/icons/volume-off-white.svg");
}
.volume-low {
  background: url("/images/icons/volume-low-white.svg");
}
.volume-medium {
  background: url("/images/icons/volume-medium-white.svg");
}
.volume-high {
  background: url("/images/icons/volume-high-white.svg");
}
.expand-bg-button {
  background: url("/images/icons/expand-white.svg");
}
.contract-bg-button {
  background: url("/images/icons/contract-white.svg");
}

.volume-wrapper:hover > #slider {
  opacity: 1;
}
.volume-wrapper {
  position: relative;
  margin-right: 5px;
}
#slider {
  opacity: 0;
  transition: opacity 0.3s ease;
  -webkit-appearance: slider-vertical;
  height: 100px;
  position:absolute;
  top: -105px;
}
.progress-info {
  flex: max-content;
  margin: 0 5px;
  display: flex;
  align-items: center;
  height: 26px;
  user-select: none;
  width: 100%;
}
.progress-info progress {
  flex:content;
  margin: 0 5px;
}
.progress-value {
  width: 65px;
  margin-right: 5px;
  text-align: end;
}

/** FORM **/
.form-input-div {
  margin: 10px 0;
}

/* SETTINGS */
.info-account {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  margin-top: 2em;
  
}
.info-account-img {
  margin-right: 10px;
}
.info-account-img img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.info-account-text {
  height: 50px;
  width: 100%;
  
}
.info-account-name {
  font-size: 1.4em;
  font-weight: bold;
  display: inline-block;
}
.info-account-exit {
  display: block;
  font-size: 0.9em;
}
.info-account-exit a {
  margin-left: 20px;
  font-size: 0.9em;
  color: #00B8CC;
}
.swap-icon {
  width: 20px;
  margin-right: 5px;
  height: auto;
  vertical-align: middle;
}
.ss-title {
  font-size: 1.4em;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #324b4f;
}
.avatar-input-button  {
  width: fit-content;
  padding: 7px 15px;
  position: absolute;
  background-color: var(--main-bg-color);
  border: 1px solid var(--fg-color);
  top: 80%;
  left: 0;

}
.avatar-input-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50% !important;
}
.hide {
  display: none !important;
}
.disabled {
  cursor: not-allowed;
}
.w400 {
  max-width: 405px;
}
.avatar-input-wrapper {
  position: relative;
  margin-bottom: 20px;
}
@media(min-width: 860px) {
  .settings-section {
    padding: 0 30%;
  }
  .avatar-input-button {
    top: 80%;
    left: 0;
  }
}
@media (min-width: 1800px) {
  .avatar-input-wrapper {
    position: absolute;
    right: 30%;
  } 
  .avatar-input-button {
    top: 80%;
    left: -10px;
    height: fit-content;
  } 
}

/*PANEL DE CONTROL*/
.miniature-input {
  max-width: 405px;
  width: available;
  width: -moz-available;
  margin-bottom: 20px;
  position: relative;
}
.miniature-input-img {
  width: 100%;
  border: 1px solid #00B8CC;
  border-radius: 5px;
  max-width: 405px;
  height: 202px;
  object-fit: cover;
}
.transparent {
  background-color: transparent;
  border:none;
}
.transparent:hover {
  background-color: transparent;
  border:none;
}
#add-movie-form {
  padding-bottom: 5em;
  position: relative;
  /* width: fit-content; */
  margin: 0 auto;
}
.input-video {
  width: 20px;
  margin: 0 10px 0 20px;
}
.input-video-wrapper {
  border: 1px solid var(--fg-color);
  font-size: 0.9em;
  height: 50px;
  border-radius: 4px;
  display: flex;
  cursor: pointer;
}
#file-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cancel {
  background-color: var(--main-bg-color);
  filter: brightness(0.9);
}
@media (min-width: 1000px) {
  .miniature-input {
    position: absolute;
    top: 2em;
    right: 0;
  }
  .upload-movie {
    position: absolute;
    top: 280px;
    right: 0;
  }
  #add-movie-form {
    width: 855px; 
  }
}
/*
.miniature-input {
  position: absolute;
  right: 20%;
  top: 0;
}
.miniature-input-button {
  font-size: 1.4em;
  background-color: #00565f;
  padding: 10px 200px;
  position: absolute;
  bottom: -60px;
  right: 0;
} 
.miniature-input-img {
  width: 600px;
  height: 300px;
  object-fit: cover;

}*/

/* List movie */
.movie-thumbnail {
  height: 50px;
  width: 70px;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 5px 0 0 5px;
}

/*COVER COMPONENT*/
.cover-wrapper {
  height: calc(100vh - 300px);
  position: relative;
}
.cover-title {
  position: absolute;
  top: 50px;
  left: 10%;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main-bg-color);
  z-index: 99;
}
.cover-img {
  height: 100%;
  cursor: pointer;
}
.cover-img-background {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter:blur(2px);
}
.cover-data {
  color: var(--main-bg-color);
  position: absolute;
  bottom: 5%;
  width: 20%;
  left: 10%;
  min-width: 300px;
  max-height: 400px;
}
.cover-data-title {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
.cover-data-description {
  font-size: 0.9em;
}
@media (max-width:768px) {
  .cover-data-description {
    display: none;
  }
}