html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #00202c;
  overflow-x: hidden;
  min-height: 100vh;
}
.preview-main {
  margin-top: -21px;
}
.main {
  height: max-content;
}
a {
  color:#00B8CC;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  filter:brightness(1.1)
}
.login, .login a {
  transition: all 0.2s ease;
}
.login:hover {
  background-color: #00a8bc;
  filter:brightness(0.8)
}
.login:active {
  background-color: #00a8bc;
  filter:brightness(1.1)
}
.login:hover a {
  color: #012;
}
fieldset {
  width: 100%;
  border-radius: 5px;
  max-width: 405px;
  margin: 0 auto;
  text-align: center;
}
* {
  box-sizing: border-box;
}
textarea, h1, h2, h3, h4, p, span, input, input::placeholder, label, legend {
  color: #fdfefe;
}
textarea {
  padding-top: 3em;
  padding-left: 20px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 0.9em;
}
/* GLOBALS */
.tara-error {
  background-color: #bb6a61;
  height: 0;
  opacity: 0;
  transition: all 0.4s ease;
  margin-bottom: 0;
  border-radius: 4px;
  border: 1px solid #d12b19;
  color: #700b00;
  padding: 0 1em;
  font-size: 0.9em;
}
.tara-error-show {
  height: fit-content;
  padding: 1em;
  opacity: 1;
  margin-bottom: 20px;
}
.tara-success-show {
  height: fit-content;
  padding: 1em;
  opacity: 1;
  margin-bottom: 20px;
  border: 1px solid #00cc7a;
  color: #008e55;
  background-color: #4cdba1;
}
.tara-button {
  color: #fdfefe;
  background-color: #00818F;
  min-width: fit-content;
  transition: all 0.1s ease;
  border-radius: 4px;
}
.tara-button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}
.tara-button:active {
  filter:brightness(1.2)
}
.tara-input {
  background-color: #00202C;
  filter: brightness(0.85);
}
.tara-input:active, .tara-input:focus {
  border: black;
}
.decoration {
  border: none;
  max-width: 405px;
  width: available;
  width: -moz-available;
  height: 300px;
}
.arrow::after {
  content: "";
  display: block;
  position: absolute;
  right: -15px;
  top: 60%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #fdfefe;
  filter: brightness(0.8);
  transition: all 0.5s ease;
}
.rotation::after {
  transform: rotate(180deg) translateY(5px);
}
.welcome-page {
  background-image: url("/images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin-top: -64px;
  position: relative;
}
.welcome-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  
}
.welcome-page-wrapper {
  padding-top: 5em;
  z-index: 9;
  position: relative;
  height: 100vh;
}
.welcome-page-content {
  position: absolute;
  left: 50%;
  top: calc(50% - 5em);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 10%;
  color: white;
  
}
.welcome-page-text {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  max-width: fit-content;
}
.welcome-title {
  font-size: 2.5em;
  display: inline-block;
  margin-bottom: 5px; 

}
.welcome-subtitle {
  display: inline-block;
}
.welcome-page-signup {
  display: block;
  font-size: 2em;
  text-align: center;
  margin-top: 20px;
  max-width: 360px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
 
}
.welcome-page-label {
  display: inline-block;
}
.welcome-page-button {
  
  display: inline-block;
  margin-top: 20px;
  border-radius: 2px;
  padding: 20px 0;
  width: 100%;
}
.section-divider {
  /* background-color: black; */
  height: 20px;
}
.padding {
  padding: 0 5%;
  position: relative;
}
.padding-10 {
  padding: 0 10%;
  position: relative;
}
.no-padding {
  padding: 0;
}
.ul-header {
  width: fit-content;
  margin-left: 5%;
}
.medium {
  width: 15em;
}
.ul-label {
  padding-bottom: 5px;
  border-bottom: 3px solid #00B8CC;
  padding-right: 2em;

}

.background-movie {
  background-color: rgb(31, 31, 31);
  height: 100vh;
  overflow-y: hidden;
}

.video-player {
  width: 100% !important;
  height: 100vh !important;
}
.container {
  
}
.form-container {
  max-width: 500px;
  padding: 60px 68px 40px;
}
.center {
  margin: 0 auto;
}
.input-wrapper {
  padding-bottom: 16px;
}
.input-wrapper-relative {
  position: relative;

}
.input-wrapper input {
  display: block;
  width: 100%;
  padding: 16px 20px 0;
  height: 50px;
  line-height: 50px;
  border-radius: 4px;
  border: none;
}

.place-label {
  position: absolute;
  top: 15px;
  left: 20px;
  transition: all 0.1s ease;
}
.set {
  top: 5px !important;
  font-size: 11px;
}
.show {
  display: block !important;
  opacity: 1 !important;
}
.submit-form-upload-movie {
  position: absolute;
top: 275px;
right: 0;
width: 405px;
}
.submit-form {
  width: 100%;
  border: none;
  font-size: 1.25em;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

/** MOVIE BLOCK **/
.hovering {
  height: fit-content;
  margin-bottom: -200px;
}
.movies {
  white-space: nowrap;
  scrollbar-width: none;
  overflow: hidden;
  /* scroll-padding: 50px; */
  position: relative;
}
.movies:last-of-type {
  margin-bottom: 0;
}
.movies:hover {
  z-index: 99;
/*  margin-bottom: 0; */  
}
.movie-item {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid transparent;
  vertical-align: top;
  border-radius: 0 0 5px 5px;
  margin: 20px 10px 20px 0;
}
.movie-item:first-of-type {
  margin-left: 5%;
}
.movie-item:hover {
  z-index: 2;
  border: 1px solid #00B8CC;  
  transition: all 0.2s ease-out;
  transform: scale(1.07) translateY(-5px);
}
.movie-item-thumbnail {

}
.movie-item-thumbnail img {
  cursor: pointer;
  width: 300px;
  height: 175px;
  object-fit: cover;
}
.movie-item:hover > .movie-item-thumbnail {
  /* transform: scale(1.07) translateY(-5px); */
  transition: all 0.2s ease-out;
  z-index: 2;
}
.movie-item:hover > .movie-item-hover {
  visibility: visible;
  height: 200px;
}

.movie-item-hover {
  height: 0;
  visibility: hidden;
  position: relative;
  background: #00202C;
  filter:brightness(1.1);
  color: white;
  width: 300px;
  white-space: break-spaces;
  border-radius: 0 0 5px 5px;
}
.movie-item-movie-controls {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #00202C;
  border-top: 1px solid #00202C;
  filter:brightness(0.8);

}
.movie-item-play-button {
  margin: 0 10px;
  font-weight: bold;
  cursor: pointer;
}
.movie-item-play-button-img {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.play-hover, .play-normal {
  position: absolute;
  left: 0;
  top: -5px;
  width: 40px;
  height: 40px;
}
.movie-item-play-button-img:hover > .play-hover {
  transition: all 0.5s ease;

  opacity: 1;
}
.movie-item-play-button-img:hover > .play-normal {
  transition: all 0.5s ease;

  opacity: 0;
}
.play-hover {
  opacity: 0;
  z-index: -1;
}
.movie-item-play-button-text {
  margin-left: 10px;
  font-size: 1em;
}
.movie-item-add-watchlist {
  height: 30px;
  width: 30px;
  display: block;
  /* margin-left:auto; */
  margin-left: 10px;
  position: relative;
  cursor: pointer;
}
.movie-item-add-watchlist-hover {
  position: relative;
  display: none;
  background-color: #00565f;
  width: max-content;
  top: -85px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 10;
  padding: 8px 20px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.65); 
  box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.65);
}
.movie-item-add-watchlist-hover::before {
  content:"\A";
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #00565f;
  position: absolute;
  bottom: -15px;
  left: 50%;
  z-index: 9;
  transform: translateX(-50%);
}
.movie-item-add-watchlist:hover > .movie-item-add-watchlist-hover{
  display: block;
}

.movie-item-data span {
  display: block;
}
.movie-item-title {
  margin: 10px 0;
  font-weight: bold;
  width: 100%;
}
.movie-item-description {
  font-size: 0.9em;
}
.mobile-scroll {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 90px;
  right: 0;
  width: 60px;
  height: 116px;
  background: #00000020;
}  
.backwards {
  left: 0;
  right: unset;
  transform: rotate(180deg);
  z-index: 10;
}
.mobile-scroll img {
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}
@media (max-width: 1000px) {
  .movie-item-thumbnail img {
    width: 200px;
    height: 117px;
  }
  .movie-item-hover {
    width: 200px;
  }
  .movie-item:hover > .movie-item-hover {
    height: 200px;
  }
  .movie-item-title {
    font-size: 0.9em;
  }
  .movie-item-description {
    height: 80px !important;
    position: absolute;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.8em;
  }
  .movie-item-play-button-text {
    font-size: 0.9em;
    margin-left: 5px;
  }
  .movie-item-add-watchlist {
    margin-left: 0;
  }
  .movie-item-add-watchlist-hover {
    font-size: 0.9em;
  }
  .movie-item-add-watchlist-hover::before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #00565f;
    bottom: -10px;
  }
  .scroll-movies {
    scrollbar-width: none;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .mobile-scroll {
    display: block;
  }

}
/** MOVIE PREVIEW **/
.preview-wrapper {
  min-height: 70vh;
  position: relative;
  z-index: 1;
  margin-top: -65px;
}
.data-description {
  width: 100%;
}
#movie-title{
  font-size: 4vb;
}
.movie-resumen {
  font-size: 0.9em;
}
.movie-data-list, .movie-resumen{
  margin: 2em 0; 
}
.movie-data-list-item {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.movie-data-list-value, .movie-data-list-value span {
  font-weight: normal;
  cursor: pointer;
  transition: all 0.1s ease;
}
.movie-data-list-value span:hover {
  color: #00B8CC;
}
.movie-actions-wrapper {
  width: 100%;
  align-items: center;
}
.reproducir-wrapper {
  border:none;
  width: 100%;
  height: 70px;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 2px;
}
.reproducir-content {
  height: 70px;
}
.reproducir-img {
  margin-left: 20px;
  height: 70px;
  display: inline-block;
}
.reproducir-img img {
  vertical-align: middle;
  height: 100%;
}
.reproducir-text {
  margin-left: 10px;
  display: inline;
  vertical-align: middle;
  font-size: 0.7em;
}
.secondary-actions {
  justify-content: center;
  margin: 10px auto;
  display: flex;
}
.action-movie-wrapper {
  height: max-content;
  margin: 0 5px;
  display: inline-block;
}
.action-movie-button {
  width: 50px;
  height: 50px;
  background-color: #324b4f;
  border-radius: 50%;
  display: block;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin: 10px auto;
  transition: all 0.1s ease;
}
.action-movie-button:hover {
cursor: pointer;
filter: brightness(1.1);
}
.action-movie-button:active {
filter:brightness(1.2)
}
.action-movie-span {
  display: block;
  width: max-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.preview-image-wrapper {
  overflow: auto;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.preview-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(14,0,255);
  background: linear-gradient(180deg, rgba(14,0,255,0) 0%, rgba(9,9,121,0.25672275746235995) 35%, rgba(0,0,0,0.7777311608237045) 100%);

}
.preview-image {
  display: block;
  overflow: auto;
  /* max-width: 60%; */
  position: relative;
}

.preview-image img {
  height: auto;
  position: relative;
  width: 100%;
  float: right;
}
@media (min-width: 500px) {
  .preview-image {
    width: 50%;
    float: right;
    position: relative;
  }
  .movie-actions-wrapper {
    display: flex;
  }
  .reproducir-wrapper {
    width: fit-content;
    padding-right: 30px;
  }
  .action-movie-wrapper {
    position: relative;
    margin-left: 1em;
  }
  .action-movie-wrapper:hover > .action-movie-span {
    display: block;
  }
  .action-movie-span {
    position: absolute;
    top: 0;
    display: none;
    background-color: #00565f;
    width: max-content;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 9;
    padding: 8px 20px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.65); 
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.65);
  }
  .action-movie-span::before {
    content:"\A";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #00565f;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
  }
  .preview-wrapper {
    position: absolute;
    top: 150px;
  }
  .preview-image::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(14,0,255);
    background: linear-gradient(270deg, rgba(14,0,255,0) 0%, rgba(9,9,121,0.25672275746235995) 35%, rgba(0,0,0,0.7777311608237045) 100%);
  }
  .data-description, #movie-title {
    word-break: break-word;
    max-width: 70%;
  }
}
@media (min-width: 1500px) {
  .preview-main {
    padding: 0 10%;
  }
  
}
/** CONTROLS VIDEO PLAYER **/
#go-back {
  position: fixed;
  left: 40px;
  top: 40px;
  border:none;
  background: none;
  color: white;
  cursor: pointer;
  height: 50px;
  width: 50px;
  z-index: 5;
}
#go-back::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: url("/images/icons/arrow-back.svg");
  filter:invert()
}
#mask {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.4;
  background: black;
  transition: opacity 0.3s ease;
}
.over-video-controls {
  user-select: none;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 90px;
  width: 300px;
  display: flex;
}
.over-video-controls > button {
  cursor: pointer;
  opacity: 0.5;
  background: none;
  border: none;
  flex: 1 1 0px;
  user-select: none;
  cursor: pointer;
  color: white;
  transition: all 0.2s ease;
}
.over-video-controls button:hover {
  opacity: 0.4;
}
.pause-button, .pause-button-pause, .pause-button-play, .play-pause, .volume-icon, .fullscreen-icon, #slider {
  cursor: pointer;
}
.pause-button::after, #rewind::after, #forward::after {
  content: "";
  display: block;
  background-repeat: no-repeat !important;
  background-size: contain;
  background-position: center !important;
 
  filter: invert();
}
.pause-button-pause::after {
  width: 100px;
  height: 90px;
  background: url("/images/icons/pause.svg")
}
.pause-button-play::after {
  width: 100px;
  height: 90px;
  background: url("/images/icons/play.svg")
}
#rewind::after {
  width: 100px;
  height: 60px;
  background: url("/images/icons/chevron-back.svg");  
}
#forward {
  padding: 0;
}
#forward::after {
  width: 100px;
  height: 60px;
  margin-right: -10px;
  background: url("/images/icons/chevron-forward.svg");
}
.disable {
  display: none;
}
.controls {
  position: absolute;
  bottom: 20px;
  width:100%;
  display: flex;
  align-items: flex-end;
  padding: 0 15px;
  cursor: pointer;
}
.controls > * {
  height: max-content;
}
.opacable {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.opacable:hover {
  opacity: 1;
}

.play-pause, .volume-icon, .fullscreen-icon {
  width: 26px;
  height: 26px;
  transition: all 0.2s ease;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  border:none;
}
.play-pause:hover, .volume-icon:hover, .fullscreen-icon:hover {
  filter:brightness(0.7)
}
.pause-bg-button {
  background: url("/images/icons/pause-white.svg")
}
.play-bg-button {
  background: url("/images/icons/play-white.svg");
}
.volume-mute {
  background: url("/images/icons/volume-mute-white.svg") !important;
}
.volume-off {
  background: url("/images/icons/volume-off-white.svg");
}
.volume-low {
  background: url("/images/icons/volume-low-white.svg");
}
.volume-medium {
  background: url("/images/icons/volume-medium-white.svg");
}
.volume-high {
  background: url("/images/icons/volume-high-white.svg");
}
.expand-bg-button {
  background: url("/images/icons/expand-white.svg");
}
.contract-bg-button {
  background: url("/images/icons/contract-white.svg");
}

.volume-wrapper:hover > #slider {
  opacity: 1;
}
.volume-wrapper {
  position: relative;
  margin-right: 5px;
}
#slider {
  opacity: 0;
  transition: opacity 0.3s ease;
  -webkit-appearance: slider-vertical;
  height: 100px;
  position:absolute;
  top: -105px;
}
.progress-info {
  flex: max-content;
  margin: 0 5px;
  display: flex;
  align-items: center;
  height: 26px;
  user-select: none;
  width: 100%;
}
.progress-info progress {
  flex:content;
  margin: 0 5px;
}
.progress-value {
  width: 65px;
  margin-right: 5px;
  text-align: end;
}

/** FORM **/
.form-input-div {
  margin: 10px 0;
}

/* SETTINGS */
.info-account {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  margin-top: 2em;
  
}
.info-account-img {
  margin-right: 10px;
}
.info-account-img img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.info-account-text {
  height: 50px;
  width: 100%;
  
}
.info-account-name {
  font-size: 1.4em;
  font-weight: bold;
  display: inline-block;
}
.info-account-exit {
  display: block;
  font-size: 0.9em;
}
.info-account-exit a {
  margin-left: 20px;
  font-size: 0.9em;
  color: #00B8CC;
}
.swap-icon {
  width: 20px;
  margin-right: 5px;
  height: auto;
  vertical-align: middle;
}
.ss-title {
  font-size: 1.4em;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #324b4f;
}
.avatar-input-button  {
  width: fit-content;
  padding: 7px 15px;
  position: absolute;
  background-color: #00565f;
  border: 1px solid #00B8CC;
  top: 80%;
  left: 0;

}
.avatar-input-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50% !important;
}
.hide {
  display: none !important;
}
.disabled {
  cursor: not-allowed;
}
.w400 {
  max-width: 405px;
}
.avatar-input-wrapper {
  position: relative;
  margin-bottom: 20px;
}
@media(min-width: 860px) {
  .settings-section {
    padding: 0 30%;
  }
  .avatar-input-button {
    top: 80%;
    left: 0;
  }
}
@media (min-width: 1800px) {
  .avatar-input-wrapper {
    position: absolute;
    right: 30%;
  } 
  .avatar-input-button {
    top: 80%;
    left: -10px;
    height: fit-content;
  } 
}

/*PANEL DE CONTROL*/
.miniature-input {
  max-width: 405px;
  width: available;
  width: -moz-available;
  margin-bottom: 20px;
  position: relative;
}
.miniature-input-img {
  width: 100%;
  border: 1px solid #00B8CC;
  border-radius: 5px;
  max-width: 405px;
  height: 202px;
  object-fit: cover;
}
.transparent {
  background-color: transparent;
}
#add-movie-form {
  padding-bottom: 5em;
  position: relative;
  /* width: fit-content; */
  margin: 0 auto;
}
.input-video {
  width: 20px;
  margin: 0 10px 0 20px;
}
.input-video-wrapper {
  background-color: #00202C;
  height: 50px;
  border-radius: 4px;
  filter:brightness(0.85);
  display: flex;
  cursor: pointer;
}
#file-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cancel {
  background-color: #324b4f !important;
}
@media (min-width: 1000px) {
  .miniature-input {
    position: absolute;
    top: 2em;
    right: 0;
  }
  .upload-movie {
    position: absolute;
    top: 280px;
    right: 0;
  }
  #add-movie-form {
    width: 855px; 
  }
}
/*
.miniature-input {
  position: absolute;
  right: 20%;
  top: 0;
}
.miniature-input-button {
  font-size: 1.4em;
  background-color: #00565f;
  padding: 10px 200px;
  position: absolute;
  bottom: -60px;
  right: 0;
} 
.miniature-input-img {
  width: 600px;
  height: 300px;
  object-fit: cover;

}*/

/* List movie */
.movie-thumbnail {
  height: 50px;
  width: 70px;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 5px 0 0 5px;
}